@model HotelWizard.ViewModels.LoginViewModel

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Вход</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Ваши дополнительные стили здесь -->
    <style>
        /* Добавляем отступ снизу для кнопки */
        .btn-login {
            margin-top: 20px;
        }

        /* Подсветка для неверных полей ввода */
        .form-control.is-invalid {
            border-color: #dc3545;
        }

        .button-container {
            display: grid; /* используем grid */
            grid-template-columns: repeat(2, auto); /* две колонки с автоматической шириной */
            gap: 10px; /* добавляем отступ между кнопками */
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row justify-content-center mt-5">
            <div class="col-md-6">
                <h2 class="text-center mb-4">Авторизация</h2>

                <form id="loginForm" asp-action="Autorisation" asp-controller="Account" method="post" asp-anti-forgery="true" class="needs-validation" novalidate autocomplete="off">
                    <div class="validation" asp-validation-summary="ModelOnly"></div>
                    <div class="form-group">
                        <label for="Username">Почта пользователя:</label>
                        <!--  <input id="mailLogin" type="text" class="form-control" placeholder="example&#64mail.ru" style="border-color: deepskyblue;"> -->
                        <input asp-for="Email" type="text" placeholder="example&#64mail" style="border-color: deepskyblue;" class="form-control" required />
                        <span asp-validation-for="Email" class="text-danger"></span>
                        <div class="invalid-feedback">
                            Пожалуйста, введите имя пользователя.
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Password">Пароль:</label>
                        <!-- <input id = "password" type="password"  name="Password" style="border-color: deepskyblue;" class="form-control" required /> -->
                        <input asp-for="Password" type="password" placeholder="пароль" style="border-color: deepskyblue;" class="form-control" required />
                        <span asp-validation-for="Password" class="text-danger"></span>
                        <div class="invalid-feedback">
                            Пожалуйста, введите пароль.
                        </div>
                    </div>
                    <div class="button-container">
                        <button id = "loginButton" type="submit" class="btn btn-primary btn-login btn-block">Войти</button>
                    
                        <a asp-action="Registration" asp-controller="Account" class="btn btn-success btn-login btn-block">Зарегистрироваться</a>
                       
                    </div>
                </form>

            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- Ваши дополнительные скрипты здесь -->
</body>
</html>
