@{
    ViewData["Title"] = "Home Page";
    string dateTime = DateTime.Now.ToString("MM/dd/yyyy");
    List<Room> RoomsDB = ViewData["Rooms"] as List<Room>;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Календарь с выбором диапазона дат</title>
    <!-- Подключение jQuery -->
</head>
<body>
    <input type="text" name="datefilter" placeholder="Выберите дату бронирования" value="" />
    <br></>     
    <output name="labelDays"></output>
    <div class="box"><img class="image" src="/images/Landing/head1.jpeg"></div>
    <div id="blog-container"> 
        <!-- Здесь будут отображаться блоги -->
    </div>
    
    <script type="text/javascript">
        class Room {
            constructor(id, number, type, description, pricePerNight, imageArray) {
                this.id = id;0
                this.number = number;
                this.type = type;
                this.description = description;
                this.pricePerNight = pricePerNight;
                this.imageArray = imageArray;
            }
        }
        $(function () {
            $('input[name="datefilter"]').daterangepicker({
                autoUpdateInput: false,
                locale: {
                    format: "DD/MM/YYYY",
                    applyLabel: "Принять",
                    cancelLabel: 'Очистить',
                    daysOfWeek: [
                        "Пн",
                        "Вт",
                        "Ср",
                        "Чт",
                        "Пт",
                        "Сб",
                        "Вс"
                    ],
                    monthNames: [
                        "Январь",
                        "Февраль",
                        "Март",
                        "Апрель",
                        "Май",
                        "Июнь",
                        "Июль",
                        "Август",
                        "Сентябрь",
                        "Октябрь",
                        "Ноябрь",
                        "Декабрь"
                    ],
                    firstDay: 0
                }
            });
            $('input[name="datefilter"]').on('apply.daterangepicker', function (ev, picker) {
                $(this).val(picker.startDate.format('DD/MM/YYYY') + ' - ' + picker.endDate.format('DD/MM/YYYY'));
                let startDate = picker.startDate;
                let endDate = picker.endDate;
                // Вычисляем разницу в днях
                var daysDiff = endDate.diff(startDate, 'days');
                if (daysDiff == 0) daysDiff = 1;
                $('output[name="labelDays"]').val("Количество дней: " + daysDiff);
                let startDateString = startDate.format("DD.MM.YYYY");
                let endDateString = endDate.format("DD.MM.YYYY");

                //Должно быть ещё кол-во ночей
                $.ajax({
                    url: "@Url.Action("GetData")",
                    type: 'POST',
                    dataType: "json",
                    data: {
                        startDate1: startDateString,
                        endDate1: endDateString
                    },
                    success: function (data) {
                        // Здесь вы можете обработать ответ от сервера (data)
                        var blogContainer = $("#blog-container"); // Получите контейнер, где будет отображаться блог

                        if (data.length != 0)
                        {
                            blogContainer.empty(); // Очистить содержимое контейнера
                            $.each(data, function (index, post) {
                                var postElement = $("<div>").addClass("blog-post"); // Создайте элемент для поста и добавьте класс "blog-post"
                                var index = 0;

                                var leftPart = $("<div>").addClass("left-part");
                                var rightPart = $("<div>").addClass("right-part");
                                
                                // Создайте элементы для заголовка, текста, информации и изображения, и вставьте данные
                                var titleElement = $("<h2>").addClass("post-title").text(post.type);
                                var textElement = $("<p>").addClass("post-text").text("Итоговая сумма " + post.pricePerNight*daysDiff + "$");
                                var imageElement = $("<img>").attr("src", post.imageArray[index].image).addClass("post-image");

                                var descriptionElement = $("<p>").addClass("post-description").text(post.description); // Добавлен класс "post-description"                                // Добавьте созданные элементы в элемент поста

                                var prevButton = $("<button>").addClass("prev-button");
                                var nextButton = $("<button>").addClass("next-button");
                                var makeOrder = $("<button>").text("Оформить заказ");

                                leftPart.append(titleElement, textElement, descriptionElement, makeOrder);
                                rightPart.append(imageElement, prevButton, nextButton);
                                // Добавьте созданные элементы в элемент поста
                                postElement.append(leftPart, rightPart);
                                // Добавьте элемент поста в контейнер блога
                                blogContainer.append(postElement);

                                // Обработчики событий для кнопок переключения фотографии
                                prevButton.click(function () {
                                    var $image = $(this).closest(".blog-post").find(".post-image");
                                    // Ваша логика для смены фотографии на предыдущую
                                    if (index > 0) {
                                        index--;
                                        let localImage = post.imageArray[index].image;
                                        $image.attr("src", localImage);
                                    }
                                    
                                });
                                let postId = post.id;
                                // Обработчик события для "Следующая фотография"
                                nextButton.click(function () {
                                    var $image = $(this).closest(".blog-post").find(".post-image");

                                    if (index < post.imageArray.length) {
                                        index++;
                                        let localImage = post.imageArray[index].image;
                                        $image.attr("src", localImage);
                                    }
                                    // Ваша логика для смены фотографии на следующую
                                });
                                makeOrder.click(function () {
                                    $.ajax({
                                        url: "@Url.Action("MakeOrder")",
                                        type: 'POST',
                                        dataType: "json",
                                        data: {
                                            startDate1: startDateString,
                                            endDate1: endDateString,
                                            idRoom : postId,
                                        },
                                        success: function (data) {                                  
                                            alert('Добавлено')
                                            //Переход на другую страницу                                       
                                        }
                                        // Ваша логика для смены фотографии на следующую
                                     });
                                });
                            });
                        }
                        else
                         {
                            blogContainer.empty(); // Очистить содержимое контейнера

                            alert("Нет доступных спален");

                         
                         }
                        console.log('Ответ от сервера:', data);
                    },
                    error: function (error) {
                        console.log('Произошла ошибка:', error);
                    }
                });
                // Выводим количество дней в консоль
                console.log('Количество дней в выбранном диапазоне: ' + daysDiff);
            });
            $('input[name="datefilter"]').on('cancel.daterangepicker', function (ev, picker) {
                $(this).val('');
            });
        });
    </script>
</body>
</html>
